# MD5 length: Defines how many digits of MD5 will be placed in guards, if used.
# Default 32
md5len=32

# guard styles: Defines how class name is formated in guards.
# Options: underscore, nounderscore (Default: underscore)
guardstyle=underscore

# guard format: Defines how guards are formated.
# Valid variables: PROJECT, CLASS, FILENAME, PATH, MD5
# Default: _PROJECT_NAME_FILENAME_
guardformat=_$PROJECT_$FILENAME_

# project root: Path to your project. default is cwd
projectroot=cwd

# include/header folder: Where header-files are placed, relative to project root
headerfolder=include/

# source folder: Where source-files are placed, relative to project root
sourcefolder=src/

# default namespace: Under which namespace all new files are placed automatically.
# Default: none
defaultnamespace=

# indent: Define what is used for indenting. This option takes in
# string containing the indentation string. Default is 4 spaces. Use \t for tab.
indent="    "
