# project name:
project=

# MD5 length: Defines how many digits of MD5 will be placed in guards, if used.
# Valid values: 1..32. Default 32
md5len=6

# filename format: Defines how filename is formatted when creating new files.
# Options: classname, lowercase, lower_case
# - classname: Filename without extension is the same as the class name.
# (Class name is in the same format as you entered it.)
# - lowercase: All letters in the class name will be in lowercase characters.
# - lower_case: Same as above, but before each uppercase character in the
# class name, an underscore will be placed as a delimiter.
filenameformat=classname

# guard styles: Defines how class name is formatted in guards.
# Options: underscore, nounderscore (Default: underscore)
guardstyle=underscore

# guard format: Defines how guards are formated.
# Valid variables: $PROJECT, $CLASS, $FILENAME, $PATH, $MD5
# Default: _$PROJECT_$FILENAME_
guardformat=_$PROJECT_$FILENAME_$MD5_

# project root: Path to your project. default is . (current working dir)
projectroot=.

# include/header folder: Where header-files are placed, relative to project root
headerfolder=include

# source folder: Where source-files are placed, relative to project root
sourcefolder=src

# default namespace: Under which namespace all new files are placed automatically.
# Default: none
defaultnamespace=

# indent: Define what is used for indenting. This option takes in
# string containing the indentation string. Default is 4 spaces. Use \t for tab.
indent="    "
